<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qimu.mybatis.dao.ActivityNewsMapper">
    <resultMap id="BaseResultMap" type="cn.qimu.mybatis.model.ActivityNews">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="activity_date" jdbcType="DATE" property="activityDate" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="article" jdbcType="VARCHAR" property="article" />
        <result column="activity_picture_url" jdbcType="VARCHAR" property="activityPictureUrl" />
        <result column="details_html" jdbcType="LONGVARCHAR" property="detailsHtml" />
        <result column="is_delete" jdbcType="BIT" property="isDelete" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    id, activity_date, title, article, activity_picture_url, is_delete,details_html
  </sql>
    <!--<sql id="Blob_Column_List">-->
    <!--details_html-->
  <!--</sql>-->
    <select id="countByCondition" resultType="int"  >
        select
        count(0)
        from activity_news
        where
        id>0
        <if test="startDate != null and endDate != null" >
            AND activity_date BETWEEN  #{startDate} AND  #{endDate}
        </if>
        <if test="isDelete != null">
            AND is_delete=#{isDelete}
        </if>
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
    </select>
    <select id="selectActivityNewsPage" resultMap="BaseResultMap"  >
        select
        <include refid="Base_Column_List" />

        from activity_news
        where
        id>0
        <if test="startDate !=null and endDate !=null" >
            AND activity_date BETWEEN  #{startDate} AND  #{endDate}
        </if>
        <if test="isDelete != null">
            AND is_delete=#{isDelete}
        </if>
        <if test="title != null and title != ''">
            AND title like CONCAT('%',#{title},'%')
        </if>
        LIMIT  #{startRow} , #{pageSize}
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.qimu.mybatis.model.ActivityNewsExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />

        from activity_news
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from activity_news
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="cn.qimu.mybatis.model.ActivityNewsExample" >
        delete from activity_news
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="cn.qimu.mybatis.model.ActivityNews" >
    insert into activity_news (id, activity_date, title,
      article, activity_picture_url, details_html,
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{activityDate,jdbcType=DATE}, #{title,jdbcType=VARCHAR},
      #{article,jdbcType=VARCHAR}, #{activityPictureUrl,jdbcType=VARCHAR}, #{detailsHtml,jdbcType=VARCHAR},
      #{isDelete,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="cn.qimu.mybatis.model.ActivityNews" >
        insert into activity_news
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="activityDate != null" >
                activity_date,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="article != null" >
                article,
            </if>
            <if test="activityPictureUrl != null" >
                activity_picture_url,
            </if>
            <if test="detailsHtml != null" >
                details_html,
            </if>
            <if test="isDelete != null" >
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="activityDate != null" >
                #{activityDate,jdbcType=DATE},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="article != null" >
                #{article,jdbcType=VARCHAR},
            </if>
            <if test="activityPictureUrl != null" >
                #{activityPictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="detailsHtml != null" >
                #{detailsHtml,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null" >
                #{isDelete,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="cn.qimu.mybatis.model.ActivityNewsExample" resultType="java.lang.Integer" >
        select count(*) from activity_news
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update activity_news
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.activityDate != null" >
                activity_date = #{record.activityDate,jdbcType=DATE},
            </if>
            <if test="record.title != null" >
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.article != null" >
                article = #{record.article,jdbcType=VARCHAR},
            </if>
            <if test="record.activityPictureUrl != null" >
                activity_picture_url = #{record.activityPictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.detailsHtml != null" >
                details_html = #{record.detailsHtml,jdbcType=VARCHAR},
            </if>
            <if test="record.isDelete != null" >
                is_delete = #{record.isDelete,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update activity_news
        set id = #{record.id,jdbcType=INTEGER},
        activity_date = #{record.activityDate,jdbcType=DATE},
        title = #{record.title,jdbcType=VARCHAR},
        article = #{record.article,jdbcType=VARCHAR},
        activity_picture_url = #{record.activityPictureUrl,jdbcType=VARCHAR},
        details_html = #{record.detailsHtml,jdbcType=VARCHAR},
        is_delete = #{record.isDelete,jdbcType=BIT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="cn.qimu.mybatis.model.ActivityNews" >
        update activity_news
        <set >
            <if test="activityDate != null" >
                activity_date = #{activityDate,jdbcType=DATE},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="article != null" >
                article = #{article,jdbcType=VARCHAR},
            </if>
            <if test="activityPictureUrl != null" >
                activity_picture_url = #{activityPictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="detailsHtml != null" >
                details_html = #{detailsHtml,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null" >
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.qimu.mybatis.model.ActivityNews" >
    update activity_news
    set activity_date = #{activityDate,jdbcType=DATE},
      title = #{title,jdbcType=VARCHAR},
      article = #{article,jdbcType=VARCHAR},
      activity_picture_url = #{activityPictureUrl,jdbcType=VARCHAR},
      details_html = #{detailsHtml,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>